In [18]:
import yfinance as yf
import pandas as pd
import numpy as np

gme = yf.Ticker("GME")
gme_hour = gme.history(period="2mo", interval = '1h')
gme_day = gme.history(period = '2mo', interval = '1d')

In [16]:
gme_hour


x = gme_hour['Date']
y = gme_hour['Close']

fig, ax = plt.subplots(figsize = (9,9))
ax.plot(y,x, color = 'purple')
ax.set_title('Daily GME Mentions from Dec 31st to Feb 16th')
ax.set_xlabel('Days')
ax.set_ylabel('Numbe

                 Open       High        Low  ...   Volume  Dividends  Stock Splits
Date                                         ...
2020-12-22  18.840000  19.809999  18.830000  ...        0          0             0
2020-12-23  20.170000  22.349899  19.129999  ...  9483906          0             0
2020-12-23  21.790001  21.969999  20.500000  ...  3969069          0             0
2020-12-23  21.264999  22.030001  21.250000  ...  3190218          0             0
2020-12-23  21.309999  22.180000  21.230000  ...  4076854          0             0
...               ...        ...        ...  ...      ...        ...           ...
2021-02-22  44.176800  44.408901  43.549999  ...   700220          0             0
2021-02-22  43.758301  45.709999  43.644001  ...   950905          0             0
2021-02-22  45.540001  46.849998  44.340000  ...  2350403          0             0
2021-02-22  45.009998  45.840000  43.735001  ...   746822          0             0
2021-02-22  45.400002  45.400002  45.400002  ...        0          0             0

[279 rows x 7 columns]

In [17]:
gme_day

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2020-12-22   16.219999   20.040001  ...          0             0
2020-12-23   20.170000   22.350000  ...          0             0
2020-12-24   21.010000   21.480000  ...          0             0
2020-12-28   21.309999   21.969999  ...          0             0
2020-12-29   20.820000   21.070000  ...          0             0
2020-12-30   19.379999   20.000000  ...          0             0
2020-12-31   19.250000   19.799999  ...          0             0
2021-01-04   19.000000   19.100000  ...          0             0
2021-01-05   17.350000   18.080000  ...          0             0
2021-01-06   17.340000   18.980000  ...          0             0
2021-01-07   18.469999   19.450001  ...          0             0
2021-01-08   18.180000   18.299999  ...          0             0
2021-01-11   19.410000   20.650000  ...          0             0
2021-01-12   19.959999   20.400000  ...          0             0
2021-01-13   20.420000   38.650002  ...          0             0
2021-01-14   38.090000   43.060001  ...          0             0
2021-01-15   38.490002   40.750000  ...          0             0
2021-01-19   41.549999   45.520000  ...          0             0
2021-01-20   37.369999   41.189999  ...          0             0
2021-01-21   39.230000   44.750000  ...          0             0
2021-01-22   42.590000   76.760002  ...          0             0
2021-01-25   96.730003  159.179993  ...          0             0
2021-01-26   88.559998  150.000000  ...          0             0
2021-01-27  354.829987  380.000000  ...          0             0
2021-01-28  265.000000  483.000000  ...          0             0
2021-01-29  379.709991  413.980011  ...          0             0
2021-02-01  316.559998  322.000000  ...          0             0
2021-02-02  140.759995  158.000000  ...          0             0
2021-02-03  112.010002  113.400002  ...          0             0
2021-02-04   91.190002   91.500000  ...          0             0
2021-02-05   54.040001   95.000000  ...          0             0
2021-02-08   72.410004   72.660004  ...          0             0
2021-02-09   56.610001   57.000000  ...          0             0
2021-02-10   50.770000   62.830002  ...          0             0
2021-02-11   50.009998   55.320000  ...          0             0
2021-02-12   50.750000   55.240002  ...          0             0
2021-02-16   52.660000   53.500000  ...          0             0
2021-02-17   49.770000   51.189999  ...          0             0
2021-02-18   48.490002   48.869999  ...          0             0
2021-02-19   41.279999   43.889999  ...          0             0
2021-02-22   46.689999   48.509998  ...          0             0

[41 rows x 7 columns]